<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="logFilePath" value="D:\logFile.txt"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="SqlServices" connectionString="Data Source=15.141.17.134; Initial Catalog=P_MaizeExpert;User Id=agrois_dbo; Password=aiS_1414;"/>-->
    <!--<add name="SqlServicesASP" connectionString="Data Source=15.141.17.134; Initial Catalog=P_UserManagement;User Id=agrois_dbo; Password=aiS_1414;"/>-->
    <add name="SqlServices" connectionString="Data Source=CHBSDCZC0487G3Y; Initial Catalog=P_MaizeExpert;User Id=sa; Password=Infy123+;"/>
    <add name="SqlServicesASP" connectionString="Data Source=CHBSDCZC0487G3Y; Initial Catalog=P_UserManagement;User Id=sa; Password=Infy123+;"/>
    <!--<add name="SqlServices" connectionString="Data Source=15.141.17.147; Initial Catalog=P_MaizeExpert;User Id=agrois_dbo; Password=aiS_1414;"/>-->
    <!--<add name="SqlServicesASP" connectionString="Data Source=15.141.17.147; Initial Catalog=P_UserManagement;User Id=agrois_dbo; Password=aiS_1414;"/>-->
    
  </connectionStrings>
  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0"/>

    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlServicesASP" applicationName="MaisExpert" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="10" passwordAttemptWindow="10"/>
      </providers>
    </membership>
    <roleManager  enabled="true"  defaultProvider="SqlRoleProvider">
      <providers>
        <clear/>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SqlServicesASP" applicationName="MaisExpert"/>
      </providers>
    </roleManager>

    <profile defaultProvider="SqlProfileProvider">
      <providers>
        <clear/>
        <add name="SqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SqlServicesASP" applicationName="MaisExpert"/>
      </providers>
      <properties>
        <add name="FirstName" />
        <add name="LastName" />
        <add name="Company"/>
        <add name="Department"/>
        <add name="Address"/>
        <add name="City"/>
        <add name="State"/>
        <add name="PostalCode"/>
        <add name="Country"/>
        <add name="Fax" />
        <add name="Mobile" />
        <add name="Phone" />
        <add name="ProfileType" />
        <add name="DefaultField" />
        <add name="ExpiryDate" />
        <add name="Owner"/>
        <add name="Deleted"/>
        <add name="CreatedBy"/>
        <add name="ModifiedBy"/>
        <add name="ModifiedOn"/>
        <add name="RoleCntryCat_CatId"/>
        <add name="TotalHt" />
        <add name="CornHt" />
        <add name="CornIrrHt" />
        <add name="WheatHt" />
        <add name="SunflowerHt" />
        <add name="RapesHt" />
        <add name="Dosespurchased" />
      </properties>
    </profile>

  </system.web>
</configuration>
